<div class="jumbotron">
  <h1><%= t('home.jumbo.title') %></h1>
  <p><%=  t('home.jumbo.text') %></p>
  <p><a class="btn btn-primary btn-lg" role="button"><%= t('home.jumbo.btn.signup') %></a></p>
</div>