<li><p class="navbar-text"><%= t('header.signed_in_as') + ' ' + current_user.email %></p><li>
<li><%= link_to t('header.edit_profile'), edit_user_path %></li>
<li><%= link_to t('header.logout'), logout_path %>
