<nav class="navbar navbar-default navbar-fixed-top">
  <div class="col-md-3">
    <div class="navbar-header">
      <%= link_to t('header.site_title'), root_path, class: 'navbar-brand text-brand-top' %>
    </div>
  </div>
</nav>